<mat-card class="card11">

  <mat-tab-group *ngIf="!questionnaire" animationDuration="100ms">
    <mat-tab label="License Plate">
      <app-license-plate-selection (setQuestionnaire)="toggleQuestionnaire($event)"></app-license-plate-selection>
    </mat-tab>
    <mat-tab label="VIN">
      <app-vin-selection (setQuestionnaire)="toggleQuestionnaire($event)"></app-vin-selection>
    </mat-tab>
    <mat-tab label="Make/Model">
      <app-vechile-selection (setQuestionnaire)="toggleQuestionnaire($event)"></app-vechile-selection>
    </mat-tab>
  </mat-tab-group>
  <app-car-stepper *ngIf="questionnaire"></app-car-stepper>
</mat-card>
