
.card11 {
  box-shadow: 3px 3px 5px 1px grey !important;
  background-image: #fff;
  padding: 10px 0;
  width: 100%;
  border-radius: 10px !important;
}

.mat-tab-group {
  width: 100%;
}

/* Media query for mobile view */
@media (max-width: 600px) {
  .mat-tab-group {
    flex-direction: column; /* Tabs stack vertically */
  }
}

/* Styles for the ink bar */
.mat-ink-bar {
  background-color: green;
}

/* Styles for the ink bar */
.mat-ink-bar {
  background-color: green;
}
.mdc-tab-indicator{
  color: #67A6F8;
  max-width: 140px;
  left: auto  !important;
}
.mdc-tab-indicator .mdc-tab-indicator__content{
left: auto;

}

